/*FOOTER*/
 
.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    list-style: none;
    background-color: rgb(13, 100, 10);
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

  }
 
.box_footer{
    display: inline-block;
    flex-direction: row;
    font-size: 15px;
    list-style:none;
}
 
.box_footer ul{
    list-style: none;
   
  }
  .box_footer a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 20px;
  }

  .box_footer p{
    color:black;
  }

  .box_footer .datos{
    color:black;
  }

  .box_footer .redesSociales{
    width:50px;
    height:50px;
  }