/*FOOTER*/
.footer{
  display:flex;
  justify-content: space-between;
  max-width: 1200px;
  margin:auto;
} 

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    list-style: none;
    background-color: rgb(15, 134, 51);
    color:black;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

  }
 
.box_footer{
    display: inline-block;
    flex-direction: row;
    font-size: 15px;
    list-style:none;
}
 
  .box_footer .redesSociales{
    width:36px;
    height:36px;
  }

  @media screen and (max-width: 1100px){
   .container_footer{
     flex-wrap: wrap;
     .redesSociales,
     .menu-inferior{
       margin-top: 40px;
     }
    
   }
    }

    