/* FORMULARIO*/


#advanced-search-form{
    background-color: rgba(4, 70, 29, 0.562);
    background-image: url(../../IMAGENES/contactos.jpg);
    background-size: cover;
    max-width: 800px;
    margin: 30px auto 0;
    padding: 20px;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
}

#advanced-search-form .form-group{
	margin-bottom: 20px;
    margin-left:20px;
	width: 30%;
    float:left;
    text-align: left;
}

#advanced-search-form .form-control{
    padding: 12px 20px;
    height: auto;
    border-radius: 2px;
}

#advanced-search-form .radio-inline{
    margin-left: 10px;
    margin-right: 10px;
}

#advanced-search-form .btn{
    width: 46%;
    margin: 20px auto 0;
    display: block;
    outline: none;
    background-color: rgb(2, 104, 28);
    border:#0a0a0a;
}



