.cabecera {
    background-image: linear-gradient(rgb(0, 100, 0), rgb(115, 173, 7));
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-position:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.nav-brand {
    width: 300px;
    display: flex;
    flex:column;
    margin-top: 20px;
    margin-left: 10px;
    align-items:center;
}
 
.subtitulo-logo{
    color: white;
    font-family: 'Send Flowers', cursive;
    margin-bottom: 0;
    margin-left: 10px;
    width: 300px;
    display:flex;
    justify-content: space-evenly;
}
 